.Module__fullWidthFacts {
    .Module__list {
        margin-top: 1%;
    }
    .Module__listItem {
        margin-bottom: .25em;
        padding-bottom: 0;
    }
	.Module__subList {
		text-align: center;
		.Module__title {
			font-size: 1.5em;
			font-weight: $fontWeightBold;
    		padding-bottom: 0.5em;
		}
		.Module__desc {
			font-size: 1.5em;
			font-weight: $fontWeightBold;
		}	
	}
    .moreLink {
        text-align: center;
        font: normal $fontWeightNormal 1.75em/1 $sans-serif-condensed;
        text-transform: uppercase;
        letter-spacing: .03em;
        font-size: 1.5em;
    }
}
.Module__fullWidthAthletics {
    .brewersFund {
        text-align: center;
        margin: 2em 0 0;
    }
    .Module__listItem {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.Module__fullWidthAdmission {
    .Module__list {
        margin-bottom: 0;
    }
    .Module__listItem {
        text-align: center;
    }
}
@media screen {
    .u-lHeader {
        padding: 0 !important;
    }
	.Module__fullWidthFacts {
		.Module__subList {
			display: flex;
			flex-wrap: wrap;
			.Module__listItem {
				flex-grow: 1;
				padding: 0 2%;
			}		
		}
		.Module__listItem {
			text-align: center;
		}
	}
    .Module__fullWidthAcademicsFaculty,
    .Module__fullWidthAlumnaei,
    .Module__fullWidthCampuslife,
    .Module__fullWidthArts {
        .Module__list {
            width: 92%;
            margin: 4%;
        }
        .Module__listItem {
            width: 100%;
            padding: 3%;
            margin: 50% 0 auto;
        }
    }
}
@media all and (min-width: $small) {
    .Module__fullWidthAcademicsFaculty,
    .Module__fullWidthAlumnaei,
    .Module__fullWidthCampuslife,
    .Module__fullWidthArts {
        .Module__list {
            max-width: 100%;
        }
        .Module__listItem {
            width: 50%;
            max-width: 100%;
            background-color: #00000096;
            margin: 0 0 15% auto;
        }
    }
    .Module__fullWidthAlumnaei {
        .Module__listItem {
            margin: 15% auto 0 0;
        }
    }
    .Module__fullWidthCampuslife {
        .Module__listItem {
            margin: 15% 0 0 auto;
        }
    }
    .Module__fullWidthArts {
        .Module__listItem {
            margin: 15% auto 0 0;
        }
    }
}
.Module__fullWidthFacts {
	.Module__subList {
		.Module__title {
    		border-bottom: .2em solid #e3e0df;
			color: #aca3a0;
		}
		.Module__desc {
			color: $linkColor;
		}
	}
}
.Module__fullWidthAcademicsFaculty {
	background: #675a46 url(../../../assets/images/home-section-academic.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
    .Module__listItem {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.Module__fullWidthAlumnaei {
	background: #675a46 url(../../../assets/images/home-section-alumnaei.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
    .Module__listItem {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.Module__fullWidthCampuslife {
	background: #675a46 url(../../../assets/images/home-section-campuslife.jpg) no-repeat top center;
	background-size: cover;
	color: #fff;
    .Module__listItem {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.Module__fullWidthArts {
	background: #675a46 url(../../../assets/images/home-section-arts.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
    .Module__listItem {
        background-color: rgba(0, 0, 0, 0.7);
    }
}
.Module__fullWidthAthletics {
    @extend .vassar_stars;
}

/* temporary until Ray adjusts Gamut */
.u-Masthead__siteName {
    display: none;
}
/* Galleria */
.galleria-info-title {
    display: inline;
    font: normal $fontWeightNormal 1em/1 $sans-serif-condensed !important;
	text-transform: uppercase;
	letter-spacing: .1em;
    &:after {
        content: ":";
        margin: 0 .33em 0 0;
    }
}
.galleria-button-link,
.button-link {
    font: normal $fontWeightNormal .9em/1 $sans-serif !important;
}
.galleria-info-description,
.galleria-counter {
    font: normal $fontWeightNormal 1em/1.2 $sans-serif !important;
}
.galleria-info-description {
    display: inline;
}
@media screen {
    .galleria--content {
        margin: 0;
    }
	.galleria-info {
		bottom: 0;
		top: auto;
		left: 0;
		width: auto;
	}
    .galleria-info-text {
        padding: .5em .75em .75em;
    }
    .galleria-desc-container {
        display: none;
    }
	.galleria-counter {
		bottom: auto;
		left: auto;
		right: 1em;
		opacity: 1 !important;
		padding: .25em .5em;
		&:after {
			border-radius: 0;
		}
	}
    .galleria-image-nav-left,
    .galleria-image-nav-right {
        opacity: .5;
        filter: alpha(opacity=50);
        background-position: 0 50%;
    }
    .galleria-image-nav-right {
        background-position: -255px 50%;
    }
    .galleria-container.notouch:hover .galleria-image-nav-right, .galleria-container.touch:active .galleria-image-nav-right {
        background-position: -255px 50%;
    }
    .galleria-container.notouch:hover .galleria-image-nav-left, .galleria-container.touch:active .galleria-image-nav-left {
        background-position: 0 50%;
    }
    .Module__fullWidthNews {
        overflow: visible;
    }
}
@media all and (min-width: $small) {
    .galleria-info-title {
        display: block !important;
        font: normal $fontWeightNormal 3em/1 $sans-serif-condensed !important;
        &:after {
            content: "";
            margin: 0;
        }
    }
    .galleria-desc-container {
        display: block;
    }
    .galleria-button,
    .button {
        display: block;
        margin: 1.75em 0 1em;
        text-align: right;
    }
    .button {
        text-align: center;
    }
    .galleria-button-link,
    .button-link {
        font: normal $fontWeightNormal 1.75em/1 $sans-serif-condensed !important;
        text-transform: uppercase;
        letter-spacing: .03em;
        padding: 0 .25em .19em;
    }
    .button-link {
        font: normal $fontWeightNormal 1.5em/1 $sans-serif-condensed !important;
        padding: 0 .5em .19em;
    }
    .galleria-info-description,
    .galleria-counter {
        font: normal $fontWeightNormal 1em/1.2 $sans-serif !important;
    }
	.galleria-info {
		bottom: 2em;
		top: auto;
		left: 3em;
		width: 33%;
	}
    .galleria-info-text {
        padding: 2em;
    }
	.galleria-counter {
		bottom: 2em;
		right: 2em;
	}
    .galleria-info-description.u-Figure__caption--description {
        .galleria-button-link {
            background-color: $linkColor;
            color: #fff !important;
            border: 1px solid #fff;
            &:visited {
                background-color: $linkColor;
                color: #fff !important;
            }
            &:hover,
            &:focus {
                background-color: $linkColorHoverFocus;
                color: #fff !important;
            }
            &:active {
                background-color: $linkColorActive;
                color: #fff !important;
            }
        }
    }
    .button-link {
        background-color: $linkColor;
        color: #fff !important;
        border: 1px solid #fff;
        &:visited {
            background-color: $linkColor;
            color: #fff !important;
        }
        &:hover,
        &:focus {
            background-color: $linkColorHoverFocus;
            color: #fff !important;
        }
        &:active {
            background-color: $linkColorActive;
            color: #fff !important;
        }       
    }
}
.galleria-info-text {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.65) !important;
}
.galleria-info-description.u-Figure__caption--description {
    color: #fff !important;
    a {
        border-bottom: 1px solid #fff;
    }
    a:visited {
        color: #fff !important;
        border-bottom: 1px solid #fff;
    }
    a:hover,
    a:focus {
        color: $linkColorHoverFocus !important;
        border-bottom: 1px solid $linkColorHoverFocus !important;
    }
    a:active {
        color: $linkColorActive !important;
        border-bottom: 1px solid $linkColorActive !important;
    }
}
/* News */
.u-ArticleGroup.u-ArticleGroup--newsSlider {
    .u-ArticleNavGroup__navButton--archive {
        text-align: center;
        font: normal $fontWeightNormal 1.75em/1 $sans-serif-condensed;
        text-transform: uppercase;
        letter-spacing: .03em;
    }
}
@media screen {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        position: relative;
        margin: 2em 4% 3em;
        .u-ArticleListItem__summary,
        .u-ArticleListItem__label {
            display: none;
        }
        .u-ArticleListItem__title {
            margin: 0;
            font: $fontWeightNormal 1em/1.2 $sans-serif;
            text-transform: none;
        }
        .u-ArticleList {
            width: 100%;
            margin: 0;
        }
        .u-ArticleListItem {
            margin: 0 auto 10%;
            clear: none;
            width: 70%;
        }
        .u-ArticleListItem__thumbnail {
            float: none;
        }
        .u-ArticleNavGroup {
            position: relative;
            width: 70%;
            margin: 3% auto 0;
            padding: 0;
            overflow: hidden;
        }
        .u-ArticleNavGroup__navButton--archive {
            /* position: absolute;
            left: 50%;
            bottom: 0; */
            margin: 0 auto;
            padding: 0 0 .19em;
            width: 2.79em;
            float: none;
        }
        .u-ArticleNavGroup__navButton--disabled {
          display: none;
        }
    }
}
@media all and (min-width: $tiny) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        .u-ArticleListItem,
        .u-ArticleNavGroup {
            width: 60%;
        }
    }
}
@media all and (min-width: 31.25em) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        .u-ArticleListItem,
        .u-ArticleNavGroup {
            width: 50%;
        }
    }
}
@media all and (max-width: $small) {
    /* use rule until we max out of small size*/
        .u-ArticleNavGroup__navButton--more,
        .u-ArticleNavGroup__navButton--back {
            display: none;
    }
}
@media all and (min-width: $small) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        margin: 3em auto 4em;
        overflow: hidden;
        max-width: 52.6em;
        .u-ArticleList {
            display: flex;
        }
        .u-ArticleListItem {
            width: 33.3333%;
            margin: 0;
        }
        .u-ArticleNavGroup {
            width: 20%;
        }
        .u-ArticleList {
            width: 100%;
            position: relative;
            left: 0;
            -webkit-transition: left 2s;
            transition: left 1s;
        }
        .u-ArticleListItem {
             width:33.3333%;
             padding:0 1.3em;
        }
        .u-ArticleListItem:nth-child(4):last-child {
             margin-right:-33.3333%
        }
        .u-ArticleListItem:nth-child(5):last-child {
             margin-right:-66.6666%
        }
        .u-ArticleListItem:nth-child(6):last-child {
             margin-right:-100%
        }
        .u-ArticleListItem:nth-child(7):last-child {
             margin-right:-133.3333%
        }
        .u-ArticleNavGroup__navButton--more,
        .u-ArticleNavGroup__navButton--back {
            width: 2em;
            height: 2em;
            position: absolute;
            right: 0;
            bottom: .25em;
            margin-right: 0;
        }
    }
}
.u-ArticleGroup.u-ArticleGroup--newsSlider {
    .u-ArticleListItem__thumbnail {
        margin: 0 0 2% 0 !important;
        border: 1px solid rgba(116, 102, 97, 0.5);
    }
    .u-ArticleNavGroup__navButton--more,
    .u-ArticleNavGroup__navButton--back {
        background: url(/assets/images/galleria-news-arrows.png) no-repeat;
        background-position-x: -18.75em;
    }
    .u-ArticleNavGroup__navButton--more:hover {
        background: url(/assets/images/galleria-news-arrows-hoverfocus.png) no-repeat;
        background-position-x: -18.75em;
        /* right: -.25em; */
    }
    .u-ArticleNavGroup__navButton--back {
        background-position-x: 0em;
        left: 0;
    }
    .u-ArticleNavGroup__navButton--back:hover {
        background: url(/assets/images/galleria-news-arrows-hoverfocus.png) no-repeat;
        background-position-x: 0em;
        /* left: -.25em; */
    }
    .u-ArticleNavGroup__navButton--archive,
    .Module__fullWidthFacts .moreLink {
        background: none;
        background-color: transparent;
        color: $linkColor;
        border-bottom: 2px solid $linkColor !important;
        &:visited {
            background: none;
            background-color: transparent;
            color: $linkColor;
            border-bottom: 2px solid $linkColor !important;
        }
        &:hover,
        &:focus {
            background: none;
            background-color: transparent;
            color: $linkColorHoverFocus;
            border-bottom: 2px solid $linkColorHoverFocus !important;
        }
        &:active {
            background: none;
            background-color: transparent;
            color: $linkColorActive;
            border-bottom: 2px solid $linkColorActive !important;
        }
    }
}