@import "_mixins";
@import "_config";

.Module__fullWidthFacts {
    .Module__list {
        margin-top: 1%;
    }
    .Module__listItem {
        margin-bottom: .25em;
        padding-bottom: 0;
    }
	.Module__subList {
		text-align: center;
		.Module__title {
			font-size: 1.5em;
			font-weight: $fontWeightBold;
    		padding-bottom: 0.5em;
		}
		.Module__desc {
			font-size: 1.5em;
			font-weight: $fontWeightBold;
		}	
	}
    .moreLink {
        text-align: center;
        font: normal $fontWeightNormal 1.75em/1 $sans-serif-condensed;
        text-transform: uppercase;
        letter-spacing: .03em;
        font-size: 1.5em;
    }
}

.Module__fullWidthAthletics {
    .Module__listItem {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .Module__header {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        margin-top: 4%;
    }
    .u-Figure {
        position: relative;
    }
    .u-Figure .u-Figure__caption {
        position: relative;
        padding: 3%;
        width: 100%;
        margin-top: 0;
    }
    .u-Figure img {
        max-height: 602px;
        max-width: none;
        width: 100%;
    }
    .brewersFund {
        text-align: center;
        margin: 2em 0 0;
        /* revert margin: .5em 0 0; */
        margin: 0;
    }
    .Module__list {
        margin: 0 auto 8%;
        display: flex;
        flex-wrap: wrap;
        max-width: 92%;
    }
    .Module__listItem:first-child,
    .Module__listItem:nth-child(2),
    .Module__listItem:nth-child(3),
    .Module__listItem:last-child {
        width: 100%;
    }
    .Module__listItem:first-child p {
        margin-bottom: 0;
    }
    .Module__listItem:nth-child(2) {
        margin-bottom: 1em;
    }
    .u-Figure .u-Figure__caption {
        color: #FFFFFF;
        background-color: rgb(0,0,0);
    }
    .twitter-timeline {
        padding: .075em !important;
    }
    .twitter-timeline,
    .twitter-timeline-container:before {
        bottom: 0;
        left: 0;
        position: absolute !important;
        right: 0;
        top: 0;
    }
    .twitter-timeline-container {
        display: block;
        margin: 0 auto;
        padding-bottom: 220%;
        position: relative;
        width: 85%;
    }
    .u-Video {
        margin: 0;
    }
    @media all and (min-width: 50em) {
        .Module__listItem:first-child {
            width: 100%;
            padding: 0 20%;
        }
        .Module__listItem:first-child {
            margin-bottom: 1em;
        }
        .Module__listItem:nth-child(2) {
            width: 80%;
            padding-right: 2%;
        }
        .Module__listItem:nth-child(3) {
            width: 20%;
        }
    }
    @media screen and ( min-width: $small ) {
        .twitter-timeline,
        .twitter-timeline-container {
            width: 100%;
        }
        .u-Figure .u-Figure__caption {
            background-color: rgba(0,0,0,0.65);
        }
    }
    @media all and (min-width: 80em) {
        .Module__list {
            max-width: 70em;
        }
    }
    .Module__header {
        color: $greyPantone410 !important;
    }
    background: #d4cfce url(../../../assets/images/home-section-pattern-vc-white.png) repeat;
    background-size: 9em;
    .Module__listItem:nth-child(3) .Module__desc {
        padding-bottom: 0;
        line-height: 1;
    }
    .twitter-timeline-container:before {
        border: solid .075em #d4cfce;
        content: "";
    }
}
.Module__fullWidthAdmission {
    .Module__list {
        margin-bottom: 0;
    }
    .Module__listItem {
        text-align: center;
    }
}
@media screen {
    .u-lHeader {
        padding: 0 !important;
    }
	.Module__fullWidthFacts {
		.Module__subList {
			display: flex;
			flex-wrap: wrap;
			.Module__listItem {
				flex-grow: 1;
				padding: 0 2%;
			}		
		}
		.Module__listItem {
			text-align: center;
		}
	}
    .Module__fullWidthAcademicsFaculty,
    .Module__fullWidthCampuslife,
    .Module__fullWidthArts {
        height: 34em;
        position: relative;
        .Module__list {
            width: 92%;
            margin: 4%;
        }
        .Module__listItem {
            width: 92%;
            padding: 1.5%;
            position: absolute;
            bottom: 6%;
            left: 3%;
            margin-bottom: 0;
        }
        .Module__title {
            margin-bottom: 0;
        }
    }
}
@media all and (min-width: $small) {
    .Module__fullWidthAcademicsFaculty,
    .Module__fullWidthCampuslife,
    .Module__fullWidthArts {
        .Module__list {
            max-width: 100%;
        }
        .Module__listItem {
            width: 50%;
            max-width: 100%;
//            background-color: #00000096;
            background: rgba(0,0,0,0.65);
        }
    }
    .Module__fullWidthAcademicsFaculty,
    .Module__fullWidthCampuslife {
        .Module__listItem {
            right: 3%;
            left: auto;
        }
    }
    .Module__fullWidthAthletics {
        .u-Figure .u-Figure__caption {
            position: absolute;
            padding: 2%;
            bottom: 4%;
            left: 4%;
            width: 50%;
        }
    }
}
.Module__fullWidthFacts {
	.Module__subList {
		.Module__title {
    		border-bottom: .2em solid #e3e0df;
			color: #9c9390;
		}
		.Module__desc {
			color: $linkColor;
		}
	}
}
.Module__fullWidthAcademicsFaculty {
	background: #675a46 url(../../../assets/images/home-section-academic-b.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
    .Module__listItem {
        background-color: rgba(0, 0, 0, 0.65);
    }
}
.Module__fullWidthCampuslife {
	background: #675a46 url(../../../assets/images/home-section-campuslife-b.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
    .Module__listItem {
        background-color: rgba(0, 0, 0, 0.65);
    }
}
.Module__fullWidthArts {
	background: #675a46 url(../../../assets/images/home-section-arts-b.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
    .Module__listItem {
        background-color: rgba(0, 0, 0, 0.65);
    }
}
.Module__fullWidthFacts .Module__desc .moreLink, .Module__fullWidthFacts .Module__desc .moreLink:visited {
  color: #882344;
  border-bottom: 2px solid #882344 !important;
}
.Module__fullWidthFacts .Module__desc .moreLink:active {
  color: #746661;
  border-bottom: 2px solid #746661 !important;
}
.Module__fullWidthFacts .Module__desc .moreLink:hover, .Module__fullWidthFacts .Module__desc .moreLink:focus {
  color: #c1b5b0;
  border-bottom: 2px solid #c1b5b0 !important;  
}
.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.button-link {
    background-color: $linkColor;
    color: #fff !important;
    border: 1px solid #fff;
    &:visited {
        background-color: $linkColor;
        color: #fff !important;
    }
    &:hover,
    &:focus {
        background-color: $linkColorHoverFocus;
        color: #fff !important;
    }
    &:active {
        background-color: $linkColorActive;
        color: #fff !important;
    }       
}
/* temporary until Ray adjusts Gamut */
.u-Masthead__siteName {
    display: none;
}
/* Galleria */
.galleria-info-title {
    display: inline;
    font: normal $fontWeightNormal 1.5em/1 $sans-serif-condensed !important;
	text-transform: uppercase;
	letter-spacing: .1em;
    &:after {
        content: ":";
        margin: 0 .25em 0 0;
    }
    .alumName {
        margin: 0 0 0 .25em;
    }
}
.galleria--alumnaei-spotlight {
    font-size: 88.9%;
}
.galleria-button-link,
.button-link {
    font: normal $fontWeightNormal 1.5em/1 $sans-serif-condensed !important;
    text-transform: uppercase;
    letter-spacing: .03em;
    padding: 0 .25em .19em;
}
.galleria-info-description,
.galleria-counter {
    font: normal $fontWeightNormal 1em/1.2 $sans-serif !important;
}
.galleria-info-description {
    display: inline;
}
@media screen {
    .galleria {
       padding-bottom: 13em;
        z-index: 1;
    }
    .galleria-container {
       overflow:visible;
    }
    .galleria--content {
        margin: 0;
    }
	.galleria-info {
		bottom: 0;
		top: auto;
		left: 0;
		width: 100%;
        right: auto;
	}
    .galleria-info-text {
        padding: 4%;
        position: absolute;
        display: block;
        width: 100%;
    }
    .galleria-tooltip {
       margin-bottom: 0;
    }
    .galleria-button {
        margin: 0;
        display: block;
        text-align: right;
        padding: 0 .25em .19em;
    }
    /*.galleria-desc-container, */
    .galleria-info-title {
        display: block;
    }
	.galleria-counter {
		bottom: auto;
		left: auto;
		right: 1em;
		opacity: 1 !important;
		padding: .25em .5em;
		&:after {
			border-radius: 0;
		}
	}
    .galleria-image-nav-left,
    .galleria-image-nav-right {
        opacity: .5;
        filter: alpha(opacity=50);
        background-position: 0 50%;
    }
    .galleria-image-nav-right {
        background-position: -255px 50%;
    }
    .galleria-container.notouch:hover .galleria-image-nav-right, .galleria-container.touch:active .galleria-image-nav-right {
        background-position: -255px 50%;
    }
    .galleria-container.notouch:hover .galleria-image-nav-left, .galleria-container.touch:active .galleria-image-nav-left {
        background-position: 0 50%;
    }
    .Module__fullWidthNews {
        overflow: visible;
    }
}
@media all and (min-width: $small) {    
   .galleria {
       padding-bottom: 0;
   } 
   .galleria-container {
       overflow:hidden;
   }
    .galleria-info-title {
        display: block !important;
        font: normal $fontWeightNormal 3em/1 $sans-serif-condensed !important;
        &:after {
            content: "";
            margin: 0;
        }
        .alumName {
            display: block;
            font-size: 40%;
            letter-spacing: 0.2em;
            margin: 0;
        }
    }
    .galleria-desc-container {
        display: block;
    }
    .galleria--alumnaei-spotlight .galleria-desc-container {
        display: inline;
    }
    .button {
        margin: 1.75em 0 1em;
    }
    .button {
        text-align: center;
    }
    .galleria-button-link,
    .button-link {
        font: normal $fontWeightNormal 1.5em/1 $sans-serif-condensed !important;
        text-transform: uppercase;
        letter-spacing: .03em;
        padding: 0 .25em .19em;
    }
    .button-link {
        font: normal $fontWeightNormal 1.5em/1 $sans-serif-condensed !important;
        padding: 0 .5em .19em;
    }
    .galleria-info-description,
    .galleria-counter,
    .galleria-link {
        font: normal $fontWeightNormal 1em/1.2 $sans-serif !important;
    }
    .galleria-link {
        padding: 0;
        text-transform: none;
    }
	.galleria-info {
		bottom: 2em;
		top: auto;
		left: 3em;
		width: 33%;
	}
    .galleria-info-text {
        position: relative;
    }
	.galleria-counter {
		bottom: 2em;
		right: 2em;
	}
}
.galleria-info-description.u-Figure__caption--description .galleria-button-link,
.galleria-button-link {
    background-color: $linkColor;
    color: #fff !important;
    border: 1px solid #fff;
    &:visited {
        background-color: $linkColor;
        color: #fff !important;
    }
    &:hover,
    &:focus {
        background-color: $linkColorHoverFocus;
        color: #fff !important;
    }
    &:active {
        background-color: $linkColorActive;
        color: #fff !important;
    }
}
.galleria-info-text {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.65) !important;
}
.galleria-info-description.u-Figure__caption--description {
    color: #fff !important;
    a {
        border-bottom: 1px solid #fff;
    }
    a:visited {
        color: #fff !important;
        border-bottom: 1px solid #fff;
    }
    a:hover,
    a:focus {
        color: $linkColorHoverFocus !important;
        border-bottom: 1px solid $linkColorHoverFocus !important;
    }
    a:active {
        color: $linkColorActive !important;
        border-bottom: 1px solid $linkColorActive !important;
    }
}
/* News */
.u-ArticleGroup.u-ArticleGroup--newsSlider {
    .u-ArticleNavGroup__navButton--archive {
        text-align: center;
        font: normal $fontWeightNormal 1.75em/1 $sans-serif-condensed;
        text-transform: uppercase;
        letter-spacing: .03em;
    }
}
@media screen {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        margin: 2em auto 3em;
        width: 100%;
        .u-ArticleListItem__summary,
        .u-ArticleListItem__label {
            display: none;
        }
        .u-ArticleListItem__title {
            margin: 0;
            font: $fontWeightNormal 1em/1.2 $sans-serif;
            text-transform: none;
        }
        .u-ArticleList {
            width: 100%;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .u-ArticleListItem {
            margin: 0;
            padding:1.3em;
            width:15em;
        }
        
        .u-ArticleListItem__thumbnail
        {
            padding-bottom: 100%;
            position: relative;
        }
        
        .u-ArticleListItem__thumbnail img
        {
            position: absolute;
        }
        
        .u-ArticleListItem__thumbnail {
            float: none;
        }
        .u-ArticleNavGroup {
            position: relative;
            width: 70%;
            margin: 3% auto 0;
            padding: 0;
            overflow: hidden;
        }
        .u-ArticleNavGroup__navButton--archive {
            margin: 0 auto;
            padding: 0 0 .19em;
            width: 3.5em;
            float: none;
        }
    }
}
@media all and (min-width: $small) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        margin: 3em auto 2em;
    }
}
@media all and (min-width: 67.5em) {
    .u-ArticleGroup.u-ArticleGroup--newsSlider {
        .u-ArticleList {
            flex-wrap: nowrap;
        }
    }
}
.u-ArticleGroup.u-ArticleGroup--newsSlider {   
    .u-ArticleListItem__title {
      @include link-colors($fontColor, $linkColorHoverFocus, $linkColorActive, $fontColor, $linkColorHoverFocus);
    }
    .u-ArticleListItem__thumbnail {
        margin: 0 0 2% 0 !important;
    }
    
    .u-ArticleListItem__thumbnail:after
    {
        border: 1px solid rgba(116, 102, 97, 0.5);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .u-ArticleNavGroup__navButton--archive,
    .Module__fullWidthFacts .moreLink {
        background: none;
        background-color: $linkColor;
        color: #ff;
        border-bottom: none !important;
        &:visited {
            background: none;
            background-color: transparent;
            color: #fff;
            border-bottom: none !important;
        }
        &:hover,
        &:focus {
            background: none;
            background-color: $linkColorHoverFocus;
            color: #fff;
            border-bottom: none !important;
        }
        &:active {
            background: none;
            background-color: $linkColorActive;
            color: #fff;
            border-bottom: none !important;
        }
    }
}
.Module__fullWidthInTheMedia {
    .Module.Module--mainContent.Module--list .Module__listItem,
    .Module.Module--mainContent.Module--list .Module__listItem a {
        text-transform: none;
    }
    .Module__header {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        padding-top: 0;
//        text-align: left;
    }
    h2.Module__header {
        font-size: 2em;
        margin: 0 25%;
        border-top: 1px solid rgba(116, 102, 97, 0.27);
        padding: .75em 0 .15em;
        color: $fontColor !important;
    }
    .Module__title {
        font-size: 100%;
        text-align: left;
        text-transform: none;
        display: inherit;
        line-height: 1;
        letter-spacing: 0;
        font-family: "acumin-pro","Arial","Helvetica";
    }
    .Module__listItem {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        border-bottom: none;
        height: auto;
    }
    .Module__link:link {
        border-bottom: none;
    }
}
.js {
    .u-ArticleGroup--newsMediaTicker>ul.Module__list {
        overflow: visible;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding: 9em 0 0 0;
        max-width: 40em;
    }
    .u-ArticleGroup--newsMediaTicker>ul.Module__list>li {
        display:none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .u-ArticleGroup--newsMediaTicker>ul.Module__list>li:first-child {
        display:block
    }
    .items__nav {
        .items__tabLink {
            width:1.25em;
            height:1.25em;
        }    
    }
}
@media all and (min-width: 21.88em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            padding: 8em 0 0 0;
        }
    }
}
@media all and (min-width: 34.38em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            padding: 6em 0 0 0;
        }
    }
}
@media all and (min-width: 46.88em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            padding: 4em 0 0 0;
        }
    }
}
@media all and (min-width: 50em) {
    .js {
        .u-ArticleGroup--newsMediaTicker>ul.Module__list {
            margin: 0 auto;
            padding: 4.5em 0 0 0;
        }
        .items__nav {
            .items__tabLink {
                width:1em;
                height:1em;
            }    
        }
    }
}
@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
.items__nav {
    margin:0 0 2em 0;
    padding:0;
    text-align:center;
    .items__tab {
        list-style:none;
        display:inline;
        margin:0 0.5em
    }
    .items__tab.active .items__tabLink {
        background: $linkColorActive;
    }
    .items__tabLink {
        background:#eae7e0;
        border-radius:50%;
        width:1.25em;
        height:1.25em;
        display:inline-block;
        overflow:hidden;
        text-indent:-900px;
        color:transparent;
    }
    a.items__tabLink {
        border-bottom: none;
    }
    .items__tabLink:hover {
        background:$linkColorHoverFocus;
    }
    .items__tabLink:focus {
        background:#eae7e0;
    }
    .items__tabLink:active {
        background:$linkColorActive;
    }
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link {
    @include link-colors($fontColor, $linkColorHoverFocus, $linkColorActive, $fontColor, $linkColorHoverFocus);
}
/* Holiday Styles */
.Module__fullWidthHolidayBreak {
    .Module__listItem {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .Module__title {
        margin-bottom: 0;
    }
	background: #746661 url(../../../assets/images/home-section-holiday-bg.jpg) no-repeat;
    color: #fff;
    background-size: cover;
    border-bottom: .5em solid #fff;
}
@media all and (min-width: $small) { 
   .galleria {
       /* background: #746661 url(../../../assets/images/home-section-holiday-bg.jpg) no-repeat; */
       background-size: cover;
       border-bottom: .5em solid #fff;
    }
    .Module__fullWidthHolidayBreak {
        .Module__list {
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }
}


/*	******************
	Fancy-facts
	****************** */

$slide: false;	//	slide: the items shift seamlessly to the right
$snap: true;	//	snap: the items snap right and shift into place


/*	Settings
	======== */

$DD_sequential-delay: 0.04s;
$transition_speed: 0.24s;

$breakpoint-medium: 35em;
$breakpoint-large: 60em;
$breakpoint-xlarge: 120em;

$border: 2px solid #fff;

$color-background: #F8F7F6;
$color-text: $maroonPresidents; // #861F41;

// $font-display: $sans-serif-condensed;



/*	Mixins
	====== */

@mixin medium() {
	@media screen and (min-width: $breakpoint-medium) {
		@content
	}
}
@mixin large() {
	@media screen and (min-width: $breakpoint-large) {
		@content
	}
}
@mixin xlarge() {
	@media screen and (min-width: $breakpoint-xlarge) {
		@content
	}
}

@mixin sequential-delay($parent, $num-items, $initial-delay:0, $item-delay:0.2s, $children:"") {
	@for $i from 1 through $num-items {
		#{$parent}:nth-child(#{$i}) #{$children} {
			$wait: $initial-delay + ($i * $item-delay);
			animation-delay: $wait;
		}
	}	
}

@mixin shift-in() {
	transform: translateX(-0.6em);
	opacity: 0;
	animation-name: shift-in;
	animation-fill-mode: forwards;

	.animating & {
	}
	.no-js {
		opacity: 1;
	}
}


/*	Main code
	========= */

.Module__fancyfacts {
//	margin: 3em 0;

	a {
		&:link,
		&:active,
		&:visited {
			color: $color-text !important;
		}
	}
	.Module__link {
	    border: none;
		display: block;
		padding: 1em 0;
		
		/*
		&:link,
		&:active,
		&:visited {
			color: $color-text;
		}
		*/
		
		@include medium() {
			padding: 3em 0;
		}
		@include large() {
			padding: 4em 0;
		}
		@include xlarge() {
			padding: 6em 0;
		}
	}
	.Module__list {
		background: $color-background;
		margin: 0;
		position: relative;
		width: 100%;

		@include medium() {
			display: flex;
			flex-wrap: wrap;
		}
		&:before, &:after {
			content: "";
			position: absolute;
			transition: 1s all ease-in;
		}
		&:before {
			border-left: $border;
			border-right: $border;
			height: 100%;
			height: 0;
			top: 0;

			@include medium() {
				width: 50%;
				left: 50%;				
			}
			@include large() {
				width: 33.3%;
				left: 33.3%;
			}
		}
		&:after {
			width: 100%;
			width: 0;
			left: 0;
			border-top: $border;
			border-bottom: $border;
			
			@include medium() {
				top: 33.3%;
				height: 33.3%;
			}
			@include large() {
				border-bottom: none;
				left: 0%;
				height: 0;
				top: 50%;
			}
		}
		
		.Module__listItem {
			border-bottom: $border;
			overflow: hidden;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 10;
	
			@include medium() {
				border: none;
				width: 50%;
			}
			@include large() {
				width: 33.3%;
			}
			
			.Module__desc {
				overflow: visible;
			}
			b {
				transition: all ease-in-out $transition_speed;
				will-change: transform;

				@if $slide == true {
					text-align: center;
				}
				@if $snap == true {
					text-align: right;
				}
			}
			img {
				display: none;
			}
			.Module__title {
				font-size: 1.4em;
				
				@include large() {
					font-size: 2em;
				}
			}
			.Module__desc,
			.Module__title {
				text-align: center;
				width: 100%;
				white-space: nowrap;
				display: block;

				@if $slide == true {
					min-width: fit-content;
				}
				@if $snap == true {
					margin: 0 auto;
				}
			}
			.Module__image {
				bottom: 0;
				z-index: -1;
				background-size: cover;
				background-position: center;
				clip-path: inset(0 0 0 100%);
				content: "";
				height: 100%;
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: $transition_speed all ease-in;
				width: 100%;
				
				&:before {
					background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
					opacity: 0.4;
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}

			&:hover {
				.Module__desc,
				.Module__title {
					@if $slide == true {
						width: 0;
					}
					@if $snap == true {
						width: 80%;
						width: 0%;
						margin: 0 auto;
						text-align: right;

						animation-name: snap;
						animation-duration: 1s;
						animation-duration: $transition_speed;
						animation-fill-mode: forwards;
					}
				}
				.Module__image {
					clip-path: inset(0 0 0 0);
					opacity: 1;
				}
				b {
					color: #fff;
				}
				img {
					opacity: 1;
					z-index: -1;
					clip-path: inset(0 0 0 0);
					box-shadow: 0 8px 8px rgba(0,0,0,0.1);
				}
			}
			
			b {
				margin: 0;
				line-height: 1;
				clear: both;
				overflow: visible !important;

				@if $slide == true {
					float: right;
				}
			}
		}
	}
	.item:nth-child(3n+3):hover {
		b {
			transform: none;
		}
	}
	.Module__desc {
//		font-family: $font-display;
		font-family: $sans-serif-condensed;
		font-weight: 300;
		padding: 0;
		font-size: 4em;

		@include medium() {
			font-size: 5em;
		}
		@include large() {
			font-size: 6em;
		}
	}
	
	@keyframes shift-in {
		from {
			transform: translateX(-0.6em);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes snap {
		from {
			width: 40%;
			text-align: right;
		}
		to {
			width: 80%;
			text-align: right;
		}
	}
}


.Module__fancyfacts {
	.Module__listItem {
		transform: translateX(-0.2em);
		opacity: 0;
		
		.no-js & {
			opacity: 1;
		}
	}
}

.animation {
/*	h1 {
		@include shift-in();
		animation-duration: 1s;
	} */
	.Module__list {
		
		&:before {
			height: 100%;
		}
		&:after {
			width: 100%;
		}

		@include sequential-delay(".Module__listItem", 6, 0s, 0.16s); 
		
		.Module__listItem {
			animation-name: shift-in;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
	}
}

/*	******************
	End Fancy-facts
	****************** */


.ac-NavAnchor--top {
	z-index: 20;
}