/* TYPOGRAPHY */

$sans-serif: "Source Sans Variable", sans-serif;
$serif: freight-big-pro, serif;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 600;
$fontWeightBold: 600;

/* LAYOUT */

$tiny: 37.25em; /* 400px divided by 16px */
$small: 56.25em; /* 600px divided by 16px */
$medium: 56.25em; /* 800px divided by 16px */
$large: 62.5em; /* 1000px divided by 16px */
$xlarge: 143.75em;

/* COLOR */

$burgundy-1: #951829;
$burgundy-2: #641A2B;
$burgundy-bright: #ED1C24;
$gray-border: #c1c1c1;
$gray-light: #f0eeeb;
$gray-basic: #63666A;
$gray-dark: #444;

$linkColor: #951829;
$linkColorHoverFocus: #d7cfcc;
$linkColorVisited: #63666A;
$linkColorActive: #ED1C24;
$linkBorderColor: #951829;

/* End config variables */

/* extend */
.title-gradient {
    color: $burgundy-2;
    text-transform: none;
    background: linear-gradient(135deg, $burgundy-2 0%, $burgundy-bright 70%);
    -webkit-background-clip: text;
    color: transparent;
}
.Block{
	background-color:transparent;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	color:#fff
}
@media screen{
	.Block {
		align-items:flex-end;
		display:flex;
		justify-content:flex-end
        .Row{
		    padding-bottom:2em
        }
	}
}
@media screen and (min-width: 56.25em){
	.Block .Module{
		flex-basis:50%
	}
	.Block.Arts{
		justify-content:flex-start
	}
}
.Block .Module{
	background-color:#000;
	background-color:rgba(0,0,0,0.8)
}
.Block a{
	border-bottom-color:#fff;
	color:#fff
}
.Block a:visited {
	border-bottom-color:$gray-border;
	color:$gray-border
}
.bgArts {
	background-image:url(../images/sections/arts/kunz-von-der-rosen-met-DP822160.jpg);
	min-height:29em
}
.bgCampusLife {
	background-image:url(../images/sections/campus-life/110619_160over90_Vassar_5260.jpg);
	min-height:29em
}
.bgAcademicsFaculty {
	background-image:url(../images/sections/academics/home-section-academic-a.jpg);
	min-height:29em;
    
}
@media (min-width: 56.25em) {
	.bgCampusLife .Row{
		margin-right:0
	}
	.bgArts .Row{
		margin-left:0
	}
}
    .bgCampusLife.bg,
    .bgAcademicsFaculty.bg,
    .bgArts.bg {
        padding: 2em !important;
        .Row {
		    margin: auto auto 0 0;
	    }
    }
@media (min-width: 56.25em) {

}
.AdmissionsAndFinancialAid {
	text-align:center;
    .Row {
        max-width: 55rem;
    }
}
.AdmissionsAndFinancialAid img{
	margin-bottom:.5em
}
.bgAthletics {
	background-image: url(../images/sections/athletics/Vassar_QuadGrid-grey.png);
	background-size:9em;
    background-repeat: repeat;
	margin-top:0 !important;
    .brewersFund {
        text-align:center;
        a {
            display:inline-block;
        }
        b {
	        display:block;
        }
    }
    .galleria-info-title{
	    display:block;
	    /*letter-spacing:.05em; */
    }
    .Module--fourthWidth {
        margin-bottom:2em;
        &:last-child {
	        margin-bottom:0
        }
    }
    .twitter-timeline,
    .twitter-timeline-container:before{
        bottom:0;
        min-width:0 !important;
        position:absolute !important;
        top:0;
        width:100%
    }
    .twitter-timeline-container{
        display:block;
        padding-bottom:220%;
        position:relative
    }
    .u-Figure figcaption{
	    margin-top:0;
	    padding:3%
    }
    .Row {
        max-width: 92%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 56.25em){
    .bgAthletics {
        .twitter-timeline-container {
            height:100%;
            padding-bottom:0;
        }
        .u-Figure {
            position:relative;
            figcaption {
                position:absolute;
                padding:2%;
                bottom:4%;
                left:4%;
                width:50%;
            }
        }
        .brewersFund {
            margin:3%
        }
        .Row {
            display:grid;
            flex-wrap:wrap;
            grid-template-areas:"heading heading" "image twitter" "footer footer";
            grid-template-columns:80% 20%;
            max-width:70em
        }
        .Row>div {
            margin-bottom:0
        }
        .Row>div:first-of-type {
            grid-area:heading;
            max-width: 30em;
            margin: 0 auto;
        }
        .Row>div:nth-child(2) {
            grid-area:image;
            margin-bottom:0;
            padding-right:2%
        }
        .Row>div:nth-child(3) {
            grid-area:twitter
        }
        .Row>div:last-child {
            grid-area:footer
        }
    }
}
.bgAthletics .twitter-timeline{
	padding:.075em !important
}
.bgAthletics .twitter-timeline-container:before{
	border:solid 0.075em #d4cfce;
	content:""
}
.bgAthletics .u-Figure figcaption{
	background-color:#000;
	color:#fff
}
@media screen and (min-width: 56.25em){
	.bgAthletics .u-Figure figcaption{
		background-color:#000;
		background-color:rgba(0,0,0,0.8)
	}
}
.BlockButtonContainer{
	display:flex;
	justify-content:center;
	margin:1em 0
}
@media screen and (min-width: 56.25em){
	.BlockButtonContainer .BlockButton{
		margin:1.75em 0 1em;
		text-align:center
	}
}
.Block .BlockButton{
	margin-top:2em
}
.BlockButton{
	display:block;
	text-align:right
}
.BlockButton a{
	font:normal $fontWeightBold 1em/1 $sans-serif;
	text-transform:uppercase;
	background-color:$burgundy-1;
	border-bottom:0;
	padding:.25em .5em;
	position:relative;
	text-decoration:none !important;
	color:#fff
}
.BlockButton a:visited{
	background-color:$burgundy-1;
	color:#fff
}
.BlockButton a:hover,.BlockButton a:focus{
	background-color:$gray-border;
	border-bottom:0;
	color:#000
}
.BlockButton a:active{
	background-color:$gray-basic;
	color:#fff
}
.BlockButton a:after{
	border:1px solid #fff;
	bottom:0;
	content:"";
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.Module__fullWidthHolidayBreak{
	background:transparent url(../images/home-section-holiday-bg.jpg) no-repeat;
	background-size:cover;
	border-bottom:0.5em solid #fff;
	color:#fff
}
.Module__fullWidthHolidayBreak .Module__listItem{
	margin-bottom:0;
	padding-bottom:0
}
.Module__fullWidthHolidayBreak .Module__title{
	margin-bottom:0
}
@media screen and (min-width: 56.25em){
	.Module__fullWidthHolidayBreak .Module__list{
		margin-top:2%;
		margin-bottom:2%
	}
}
.Galleria{
	width:100%;
}
.Galleria .Module{
	padding:0
}
.galleria-info-description,
.galleria-counter,
.galleria-link{
	font: $fontWeightRegular .9em/1.2 $sans-serif;
}
.galleria-info-description{
	display:inline;
}
.galleria-info-title{
	font: $fontWeightRegular 1.3em/1 $serif;
}
.galleria-info-title .alumName{
	margin-left:.25em
}
.u-Gallery__slideAttribution {
	display: block;
    font-size:.9em;
	margin-top:.5em;
}
@media screen{
	.galleria{
		z-index:0;
	}
	.galleria-container{
		overflow:visible;
	}
	.galleria--content{
		margin:0;
		padding-bottom:13em
	}
	.galleria-info{
		bottom:0;
		top:auto;
		left:0;
		width:100%
	}
	.galleria-info-text{
		padding:4%;
		position:absolute;
		display:block
	}
	.galleria-tooltip{
		margin-bottom:0
	}
	.galleria-counter{
		bottom:auto;
		left:auto;
		right:1em;
		opacity:1 !important;
		padding:.25em .5em
	}
	.galleria-counter:after{
		border-radius:0
	}
	.galleria-thumbnails-container{
		display:none !important;
		visibility:hidden !important
	}
	.galleria-image-nav-left,.galleria-image-nav-right{
		opacity:.5;
		background-position:0 50%
	}
	.galleria-image-nav-right,.galleria-container.notouch:focus .galleria-image-nav-right,.galleria-container.notouch:hover .galleria-image-nav-right,.galleria-container.touch:active .galleria-image-nav-right{
		background-position:0 50%;
		right:0 !important
	}
	.galleria-image-nav-left,.galleria-container.notouch:focus .galleria-image-nav-left,.galleria-container.notouch:hover .galleria-image-nav-left,.galleria-container.touch:active .galleria-image-nav-left{
		background-position:100% 50%;
		left:0 !important
	}
	.galleria-container.notouch .galleria-image-nav-left:focus,.galleria-container.notouch .galleria-image-nav-left:hover,.galleria-container.touch .galleria-image-nav-left:active{
		background-position:80% 50%
	}
	.galleria-container.notouch .galleria-image-nav-right:focus,.galleria-container.notouch .galleria-image-nav-right:hover,.galleria-container.touch .galleria-image-nav-right:active{
		background-position:20% 50%
	}
}
@media screen and (min-width: 56.25em){
	.galleria{
		background-size:cover;
		padding-bottom:0
	}
	.galleria-container{
		overflow:hidden
	}
	.galleria-info-title{
		font-size:3em !important
	}
	.galleria-info-title .alumName{
		display:block;
		font-size:40%;
		/* letter-spacing:.1em; */
		margin:0
	}
	.galleria-desc-container{
		display:block
	}
	.galleria-info{
		bottom:2em;
		left:3em;
		width:33%
	}
	.galleria-info-text{
		position:relative
	}
	.galleria-counter{
		bottom:2em;
		right:2em
	}
}
.galleria-info-text, .galleria-counter {
	background-color:#000;
	background-color:rgba(0,0,0,0.8)
}
.galleria-info-description.u-Figure__caption--description{
	color:#fff
}
.galleria-info-description.u-Figure__caption--description a{
	border-bottom:1px solid #fff
}
.galleria-info-description.u-Figure__caption--description a:visited{
	color:#fff;
	border-bottom-color:#fff
}
.galleria-desc-container a:link {
    text-decoration-line: none;
}
.galleria-info-description.u-Figure__caption--description a:hover,.galleria-info-description.u-Figure__caption--description a:focus{
	color:$gray-border;
	border-bottom-color:$gray-border
}
.galleria-info-description.u-Figure__caption--description a:active{
	color:$gray-basic;
	border-bottom-color:$gray-basic
}
.galleria-image-nav-left,.galleria-image-nav-right{
	width:8%;
	z-index:3;
	opacity:1
}
.galleria-image-nav-right{
	background-image:url(../images/galleria/galleria-arrows-right.png);
	background-size:25px
}
.galleria-image-nav-left{
	background-image:url(../images/galleria/galleria-arrows-left.png);
	background-size:25px
}
@media screen and (min-width: 56.25em){
	.galleria-image-nav-left,.galleria-image-nav-right{
		width:3.5%
	}
	.galleria-image-nav-right{
		background-size:32px
	}
	.galleria-image-nav-left{
		background-size:32px
	}
}
.Module__title{
	border-bottom:0;
	margin-bottom:0;
}
.News {
    .u-ArticleListItem__title {
	    font:$fontWeightRegular .9em/1.3 $sans-serif;
        display: block;
    }
    .u-ArticleListItem__link {
	    text-decoration:none
    }
    .straight-from-the-students{
        display:block;
        font-size:1.5em;
        line-height:1;
        color:$burgundy-1;
        font-weight: $fontWeightBold;
        font-family:inherit;
    }
}
@media screen{
    .RowContainer.News {
        padding: .5em 0;
    }
    .RowContainer.News,
    .RowContainer.Galleria,
    .RowContainer.bgAcademicsFaculty {
        margin-bottom: 1em;
    }
    .RowContainer.Facts {
        margin-bottom: 2em;
        .Module__title {
            font-family: $sans-serif;
            font-size: .8em !important;
            letter-spacing: 0;
            font-weight: $fontWeightBold;
        }
    }
	.News .Row{
		max-width:none;
	}
	.News .u-ArticleList{
		display:flex;
		flex-wrap:wrap;
		justify-content:center
	}
	.News .u-ArticleListItem{
		margin:0;
        padding: 0;
	}
	.News .u-ArticleListItem__thumbnail{
		float: none;
        margin:0 0 .33em;
		position:relative;
        width: 100%
	}
	.News .u-ArticleListItem__thumbnail figure{
		margin-bottom:0
	}
	.News .u-ArticleListItem__title{
		margin:0
	}
}
@media screen and (min-width: 26.88em) {
	.News .u-ArticleListItem{
		width:12em
	}
}
.News 
.u-ArticleGroup--newsSlider .Module__titleLink{
	border-bottom:0;
}
.News {
    .u-ArticleListItem__title{
        color:$gray-basic
    }
    .u-ArticleListItem__title:visited{
        color:$gray-basic
    }
    .u-ArticleListItem__title:hover{
        color:$gray-basic
    }
    .u-ArticleListItem__title:active{
        color:$gray-border $gray-border
    }
    .u-ArticleListItem__thumbnail:after{
        border:0.075em solid rgba(117,103,97,0.5);
        bottom:0;
        content:"";
        position:absolute;
        top:0;
        width:100%
    }
    .u-ArticleListItem__link {
        &:hover,
        &:focus {
            background-color: $gray-light;
        }
    }
}
.js .u-ArticleGroup--newsMediaTicker>.Module__list{
	margin-bottom:0;
	margin-top:0;
	max-width:40em;
	overflow:visible;
	padding:9em 0 0;
	position:relative
}
@media screen and (min-width: 21.88em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		padding:8em 0 0 0
	}
}
@media screen and (min-width: 34.38em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		padding:6em 0 0 0
	}
}
@media screen and (min-width: 46.88em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		padding:4em 0 0 0
	}
}
@media screen and (min-width: 50em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		margin:0 auto;
		padding:4.5em 0 0 0
	}
}
.js .u-ArticleGroup--newsMediaTicker>.Module__list>li{
	display:none;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.js .u-ArticleGroup--newsMediaTicker>.Module__list>li:first-child{
	display:block
}
.js .items__nav{
	padding-left:0
}
.js .items__nav .items__tabLink{
	width:1.25em;
	height:1.25em
}
@media screen and (min-width: 50em){
	.js .items__nav .items__tabLink{
		width:1em;
		height:1em
	}
}
@keyframes fadeIn{
	from{
		opacity:0
	}
	to{
		opacity:1
	}
}
@keyframes fadeOut{
	from{
		opacity:1
	}
	to{
		opacity:0
	}
}
.items__nav {
    margin:0 0 3em 0;
    padding:0;
    text-align:center;
    .items__tab {
        list-style:none;
        display:inline;
        margin:0 0.5em
    }
    .items__tab.active .items__tabLink {
        background: $linkColorActive;
    }
    .items__tabLink {
        background:$gray-light;
        border-radius:50%;
        width:1.25em;
        height:1.25em;
        display:inline-block;
        overflow:hidden;
        text-indent:-900px;
        color:transparent;
    }
    a.items__tabLink {
        border-bottom: none;
    }
    .items__tabLink:hover,
    .items__tabLink:focus {
        background:$linkColorHoverFocus;
    }
    .items__tabLink:active {
        background:$linkColorActive;
    }
}

.u-ArticleGroup--newsMediaTicker .Module__link:link,
.u-ArticleGroup--newsMediaTicker .Module__titleLink{
	border-bottom:none
}
.u-ArticleGroup--newsMediaTicker .Module__titleLink {
	display:block;
    line-height: 1.2;
}
.u-ArticleGroup--newsMediaTicker .Module__listItem{
	border-bottom:none;
	display:inline-block;
	height:auto;
	list-style:none;
	margin:0;
	padding:0;
	text-transform:none
}
.u-ArticleGroup--newsMediaTicker .Module__listItem a{
	text-transform:none;
    text-decoration: none;
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link{
	color:$gray-basic
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:visited{
	color:$gray-basic
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:focus{
	color:$gray-border
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:hover{
	color:$gray-border
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:active{
	color:$gray-basic
}
.u-ArticleGroup--newsMediaTicker>.Module__title{
	margin-bottom: 0;
}
.u-ArticleGroup--newsMediaTicker .Module__list .Module__title{
	font-size:.9em !important;
	font-family: $sans-serif;
	letter-spacing:0;
	text-align:left;
	text-transform:none;
	font-weight:$fontWeightRegular;
}
.VassarEverywhere{
	padding-bottom:0;
	padding-top:0
}
.u-lContent .row-title{
	hyphens:none;
	letter-spacing:.03em
}
@media screen{
	.g-Masthead__vassar{
		margin-bottom:0
	}
}
/* Jeff Mac maybe for central styles */
.u-lHeader {
    padding: 0 !important;
    margin-bottom: 0;
}
.u-Masthead {
    display: none;
}
/* def for central styles */
.u-lContent {
    font-size: .95em;
    a:focus,a:hover,a:visited:focus,a:visited:hover {
        background-color: $gray-border;
        color: $gray-dark;
    }
    .Dark a:focus,
    .Dark a:hover,
    .Dark a:visited:focus,
    .Dark a:visited:hover,
    .Dark--scrim a:focus,
    .Dark--scrim a:hover,
    .Dark--scrim a:visited:focus,
    .Dark--scrim a:visited:hover,
    .Dark--bgScrim a:focus,
    .Dark--bgScrim a:hover,
    .Dark--bgScrim a:visited:focus,
    .Dark--bgScrim a:visited:hover,
    .galleria-desc-container a:focus,
    .galleria-desc-container a:hover,
    .galleria-desc-container a:visited:focus,
    .galleria-desc-container a:visited:hover {
        color:$gray-dark;
        text-decoration-color:$gray-dark;
        background-color:$gray-border;
    }
    .Dark a:visited,
    .Dark--scrim a:visited,
    .Dark--bgScrim a:visited,
    .galleria-desc-container a:visited {
        color:#808080;
        text-decoration-color:#808080;
    }
}

.u-lFooter a:hover,.u-lFooter a:focus {
    background-color: $gray-border;
    color: $gray-basic;
}
.u-VCard--site .org {
    font: $fontWeightBold 2em/1.1 $serif;
    text-transform: capitalize;
    letter-spacing: 0;
}
.Row .Row__title {
	font-family: $serif !important;
	font-size:2.5em !important;
	text-transform: none !important;
	letter-spacing: 0 !important;
	font-weight:$fontWeightBold !important;
	text-align:center;
}
.VassarEverywhere,
.News {
    .Module__title {
        font-size: 3em;
        border: none;
        padding: .75em 0 .15em;
        font-family: $serif;
        font-weight: $fontWeightBold;
        a, a:visited {
            @extend .title-gradient;
	        text-decoration:none !important;
            &:after {
                content: "\2023";
                margin-left: .25em;
                font-size: .5em;
            }
        }
        a:hover,
        a:focus {
            color: $linkColorHoverFocus;
            text-transform: none;
            background: linear-gradient(135deg, $linkColorHoverFocus 0%, $linkColorHoverFocus 70%);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}
.Facts,
.bgAthletics,
.AdmissionsAndFinancialAid {
    .Row__title {
        font-size: 3em;
        border: none;
        padding: .75em 0 .15em;
        font-family: $serif;
        font-weight: $fontWeightBold;
        @extend .title-gradient;
        text-decoration:none !important;
    }
}
main.u-lMain {
    .bgCampusLife,
    .bgArts,
    .bgAcademicsFaculty,
    .bgAthletics,
    .AdmissionsAndFinancialAid,
    .Facts{    
        .Row__title {
            text-align: left;
        }
    }
}
h3.u-ExtendedFooter__listHeader {
    color: #fff;
    margin-top: 0;
    font: normal $fontWeightBold 1.5em/1.1 $serif;
    letter-spacing: normal;
    text-transform: none;
}