.Row .Row__title{
	font-family:"acumin-pro-extra-condensed", "Arial Narrow", "Helvetica Condensed";
	font-size:3em !important;
	text-transform:uppercase;
	letter-spacing:.03em;
	font-weight:200 !important;
	text-align:center
}
.Block{
	background-color:transparent;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	color:#fff
}
@media screen{
	.Block{
		align-items:flex-end;
		display:flex;
		justify-content:flex-end
	}
	.Block .Row{
		padding-bottom:2em
	}
}
@media screen and (min-width: 56.25em){
	.Block .Module{
		flex-basis:50%
	}
	.Block.Arts{
		justify-content:flex-start
	}
}
.Block .Module{
	background-color:#000;
	background-color:rgba(0,0,0,0.8)
}
.Block a{
	border-bottom-color:#fff;
	color:#fff
}
.Block a:visited{
	border-bottom-color:#c1b5b0;
	color:#c1b5b0
}
.bgArts{
	background-image:url(/assets/images/sections/arts/kunz-von-der-rosen-met-DP822160.jpg);
	height:29em
}
@media (min-width: 56.25em){
	.bgArts .Row{
		margin-left:0
	}
}
.bgCampusLife{
	background-image:url(/assets/images/sections/campus-life/110619_160over90_Vassar_5260.jpg);
	height:29em
}
@media (min-width: 56.25em){
	.bgCampusLife .Row{
		margin-right:0
	}
}
.bgAcademicsFaculty{
	background-image:url(/assets/images/sections/academics/home-section-academic-a.jpg);
	height:29em
}
@media (min-width: 56.25em){
	.bgAcademicsFaculty .Row{
		margin-right:0
	}
}
.AdmissionsAndFinancialAid{
	text-align:center
}
.AdmissionsAndFinancialAid img{
	margin-bottom:.5em
}
.bgAthletics {
	background-image: url(/assets/images/sections/athletics/Vassar_QuadGrid-grey.png);
	background-size:9em;
    background-repeat: repeat;
	margin-top:0 !important;
    .brewersFund {
        text-align:center;
        a {
            display:inline-block;
        }
        b {
	        display:block;
        }
    }
    .galleria-info-title{
	    display:block;
	    letter-spacing:.05em;
    }
    .Module--fourthWidth {
        margin-bottom:2em;
        &:last-child {
	        margin-bottom:0
        }
    }
    .twitter-timeline,
    .twitter-timeline-container:before{
        bottom:0;
        min-width:0 !important;
        position:absolute !important;
        top:0;
        width:100%
    }
    .twitter-timeline-container{
        display:block;
        padding-bottom:220%;
        position:relative
    }
    .u-Figure figcaption{
	    margin-top:0;
	    padding:3%
    }
    .Row {
        max-width: 92%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 56.25em){
    .bgAthletics {
        .twitter-timeline-container {
            height:100%;
            padding-bottom:0;
        }
        .u-Figure {
            position:relative;
            figcaption {
                position:absolute;
                padding:2%;
                bottom:4%;
                left:4%;
                width:50%;
            }
        }
        .brewersFund {
            margin:3%
        }
        .Row {
            display:grid;
            flex-wrap:wrap;
            grid-template-areas:"heading heading" "image twitter" "footer footer";
            grid-template-columns:80% 20%;
            max-width:70em
        }
        .Row>div {
            margin-bottom:0
        }
        .Row>div:first-of-type {
            grid-area:heading;
            max-width: 30em;
            margin: 0 auto;
        }
        .Row>div:nth-child(2) {
            grid-area:image;
            margin-bottom:0;
            padding-right:2%
        }
        .Row>div:nth-child(3) {
            grid-area:twitter
        }
        .Row>div:last-child {
            grid-area:footer
        }
    }
}
.bgAthletics .twitter-timeline{
	padding:.075em !important
}
.bgAthletics .twitter-timeline-container:before{
	border:solid 0.075em #d4cfce;
	content:""
}
.bgAthletics .u-Figure figcaption{
	background-color:#000;
	color:#fff
}
@media screen and (min-width: 56.25em){
	.bgAthletics .u-Figure figcaption{
		background-color:#000;
		background-color:rgba(0,0,0,0.8)
	}
}
.BlockButtonContainer{
	display:flex;
	justify-content:center;
	margin:1em 0
}
@media screen and (min-width: 56.25em){
	.BlockButtonContainer .BlockButton{
		margin:1.75em 0 1em;
		text-align:center
	}
}
.Block .BlockButton{
	margin-top:2em
}
.BlockButton{
	display:block;
	text-align:right
}
.BlockButton a{
	font:normal 200 1.5em/1 "acumin-pro-extra-condensed","Arial Narrow","Helvetica Condensed";
	text-transform:uppercase;
	letter-spacing:.03em;
	background-color:#882344;
	border-bottom:0;
	padding:0 .25em .19em;
	position:relative;
	text-decoration:none !important;
	color:#fff
}
.BlockButton a:visited{
	background-color:#882344;
	color:#fff
}
.BlockButton a:hover,.BlockButton a:focus{
	background-color:#c1b5b0;
	border-bottom:0;
	color:#000
}
.BlockButton a:active{
	background-color:#746661;
	color:#fff
}
.BlockButton a:after{
	border:1px solid #fff;
	bottom:0;
	content:"";
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.Facts .Module__title{
	text-transform:uppercase
}
.Module__fullWidthHolidayBreak{
	background:transparent url(/assets/images/home-section-holiday-bg.jpg) no-repeat;
	background-size:cover;
	border-bottom:0.5em solid #fff;
	color:#fff
}
.Module__fullWidthHolidayBreak .Module__listItem{
	margin-bottom:0;
	padding-bottom:0
}
.Module__fullWidthHolidayBreak .Module__title{
	margin-bottom:0
}
@media screen and (min-width: 56.25em){
	.Module__fullWidthHolidayBreak .Module__list{
		margin-top:2%;
		margin-bottom:2%
	}
}
.Galleria{
	width:100%;
}
.Galleria .Module{
	padding:0
}
.galleria-info-description,.galleria-counter,.galleria-link{
	font:normal 200 0.9em/1.4 "acumin-pro","Arial","Helvetica"
}
.galleria-info-description{
	display:inline
}
.galleria-info-title{
	font:normal 200 1.5em/1 "acumin-pro-extra-condensed","Arial Narrow","Helvetica Condensed";
	text-transform:uppercase;
	letter-spacing:.03em
}
.galleria-info-title .alumName{
	margin-left:.25em
}
.u-Gallery__slideAttribution {
	display: block;
    font-size:.9em;
	margin-top:.5em;
}
@media screen{
	.galleria{
		z-index:1
	}
	.galleria-container{
		overflow:visible
	}
	.galleria--content{
		margin:0;
		padding-bottom:13em
	}
	.galleria-info{
		bottom:0;
		top:auto;
		left:0;
		width:100%
	}
	.galleria-info-text{
		padding:4%;
		position:absolute;
		display:block
	}
	.galleria-tooltip{
		margin-bottom:0
	}
	.galleria-counter{
		bottom:auto;
		left:auto;
		right:1em;
		opacity:1 !important;
		padding:.25em .5em
	}
	.galleria-counter:after{
		border-radius:0
	}
	.galleria-thumbnails-container{
		display:none !important;
		visibility:hidden !important
	}
	.galleria-image-nav-left,.galleria-image-nav-right{
		opacity:.5;
		background-position:0 50%
	}
	.galleria-image-nav-right,.galleria-container.notouch:focus .galleria-image-nav-right,.galleria-container.notouch:hover .galleria-image-nav-right,.galleria-container.touch:active .galleria-image-nav-right{
		background-position:0 50%;
		right:0 !important
	}
	.galleria-image-nav-left,.galleria-container.notouch:focus .galleria-image-nav-left,.galleria-container.notouch:hover .galleria-image-nav-left,.galleria-container.touch:active .galleria-image-nav-left{
		background-position:100% 50%;
		left:0 !important
	}
	.galleria-container.notouch .galleria-image-nav-left:focus,.galleria-container.notouch .galleria-image-nav-left:hover,.galleria-container.touch .galleria-image-nav-left:active{
		background-position:80% 50%
	}
	.galleria-container.notouch .galleria-image-nav-right:focus,.galleria-container.notouch .galleria-image-nav-right:hover,.galleria-container.touch .galleria-image-nav-right:active{
		background-position:20% 50%
	}
}
@media screen and (min-width: 56.25em){
	.galleria{
		background-size:cover;
		padding-bottom:0
	}
	.galleria-container{
		overflow:hidden
	}
	.galleria-info-title{
		font-size:3em !important
	}
	.galleria-info-title .alumName{
		display:block;
		font-size:40%;
		letter-spacing:.1em;
		margin:0
	}
	.galleria-desc-container{
		display:block
	}
	.galleria-info{
		bottom:2em;
		left:3em;
		width:33%
	}
	.galleria-info-text{
		position:relative
	}
	.galleria-counter{
		bottom:2em;
		right:2em
	}
}
.galleria-info-text, .galleria-counter {
	background-color:#000;
	background-color:rgba(0,0,0,0.8)
}
.galleria-info-description.u-Figure__caption--description{
	color:#fff
}
.galleria-info-description.u-Figure__caption--description a{
	border-bottom:1px solid #fff
}
.galleria-info-description.u-Figure__caption--description a:visited{
	color:#fff;
	border-bottom-color:#fff
}
.galleria-desc-container a:link {
    text-decoration-line: none;
}
.galleria-info-description.u-Figure__caption--description a:hover,.galleria-info-description.u-Figure__caption--description a:focus{
	color:#c1b5b0;
	border-bottom-color:#c1b5b0
}
.galleria-info-description.u-Figure__caption--description a:active{
	color:#746661;
	border-bottom-color:#746661
}
.galleria-image-nav-left,.galleria-image-nav-right{
	width:8%;
	z-index:3;
	opacity:1
}
.galleria-image-nav-right{
	background-image:url(/assets/images/galleria/galleria-arrows-right.png);
	background-size:25px
}
.galleria-image-nav-left{
	background-image:url(/assets/images/galleria/galleria-arrows-left.png);
	background-size:25px
}
@media screen and (min-width: 56.25em){
	.galleria-image-nav-left,.galleria-image-nav-right{
		width:3.5%
	}
	.galleria-image-nav-right{
		background-size:32px
	}
	.galleria-image-nav-left{
		background-size:32px
	}
}
.Module__title{
	border-bottom:0;
	margin-bottom:0;
	text-align:center;
	text-transform:uppercase
}
.Module__title a,.Module__title a:visited{
	color:#746661
}
.Module__title a:visited,.Module__title a:visited:visited{
	color:#746661
}
.Module__title a:focus,.Module__title a:visited:focus{
	color:#c1b5b0
}
.Module__title a:hover,.Module__title a:visited:hover{
	color:#c1b5b0
}
.Module__title a:active,.Module__title a:visited:active{
	color:#746661
}
.Module__title a:hover,.Module__title a:focus{
	text-decoration:underline
}
.News .u-ArticleListItem__title{
	font:200 1.1rem / 1 "acumin-pro","Arial","Helvetica";
}
.News .u-ArticleListItem__link:link{
	text-decoration:none
}
.News .Module__title:after{
	content:"\2023";
	margin-left:.25em
}
.News .straight-from-the-students{
	display:block;
	font-size:1.5em;
	line-height:1;
	color:#882344;
	font-weight:600;
	font-family:"acumin-pro-extra-condensed","Arial Narrow","Helvetica Condensed"
}
@media screen{
    .RowContainer.News {
        padding: .5em 0;
    }
	.News .Row{
		max-width:none;
	}
	.News .u-ArticleList{
		display:flex;
		flex-wrap:wrap;
		justify-content:center
	}
	.News .u-ArticleListItem{
		margin:0;
        padding: 0;
		width:12em
	}
	.News .u-ArticleListItem__thumbnail{
		float: none;
        margin:0 0 .33em;
		position:relative;
        width: 100%
	}
	.News .u-ArticleListItem__thumbnail figure{
		margin-bottom:0
	}
	.News .u-ArticleListItem__title{
		margin:0
	}
}
.News .u-ArticleGroup--newsSlider .Module__titleLink{
	border-bottom:0
}
.News .u-ArticleListItem__title{
	color:#746661
}
.News .u-ArticleListItem__title:visited{
	color:#746661
}
.News .u-ArticleListItem__title:hover{
	color:#746661
}
.News .u-ArticleListItem__title:active{
	color:#c1b5b0 #c1b5b0
}
.News .u-ArticleListItem__thumbnail:after{
	border:0.075em solid rgba(117,103,97,0.5);
	bottom:0;
	content:"";
	position:absolute;
	top:0;
	width:100%
}
.js .u-ArticleGroup--newsMediaTicker>.Module__list{
	margin-bottom:0;
	margin-top:0;
	max-width:40em;
	overflow:visible;
	padding:9em 0 0;
	position:relative
}
@media screen and (min-width: 21.88em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		padding:8em 0 0 0
	}
}
@media screen and (min-width: 34.38em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		padding:6em 0 0 0
	}
}
@media screen and (min-width: 46.88em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		padding:4em 0 0 0
	}
}
@media screen and (min-width: 50em){
	.js .u-ArticleGroup--newsMediaTicker>.Module__list{
		margin:0 auto;
		padding:4.5em 0 0 0
	}
}
.js .u-ArticleGroup--newsMediaTicker>.Module__list>li{
	display:none;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.js .u-ArticleGroup--newsMediaTicker>.Module__list>li:first-child{
	display:block
}
.js .items__nav{
	padding-left:0
}
.js .items__nav .items__tabLink{
	width:1.25em;
	height:1.25em
}
@media screen and (min-width: 50em){
	.js .items__nav .items__tabLink{
		width:1em;
		height:1em
	}
}
@keyframes fadeIn{
	from{
		opacity:0
	}
	to{
		opacity:1
	}
}
@keyframes fadeOut{
	from{
		opacity:1
	}
	to{
		opacity:0
	}
}
.items__nav{
	margin:0 0 3em 0;
	padding:0;
	text-align:center
}
.items__nav .items__tab{
	display:inline;
	list-style:none;
	margin:0 0.5em
}
.items__nav .items__tab.active .items__tabLink{
	background:#746661
}
.items__nav .items__tabLink{
	background:#9d9390;
	border-radius:50%;
	color:transparent;
	display:inline-block;
	height:1.25em;
	overflow:hidden;
	text-indent:-900px;
	width:1.25em
}
.items__nav .items__tabLink:hover{
	background:#c1b5b0
}
.items__nav .items__tabLink:focus{
	background:#9d9390
}
.items__nav .items__tabLink:active{
	background:#746661
}
.items__nav a.items__tabLink{
	border-bottom:none
}
.u-ArticleGroup--newsMediaTicker .Module__list .Module__title{
	font-size:.85em !important
}
.u-ArticleGroup--newsMediaTicker .Module__link:link,.u-ArticleGroup--newsMediaTicker .Module__titleLink{
	border-bottom:none
}
.u-ArticleGroup--newsMediaTicker .Module__listItem{
	border-bottom:none;
	display:inline-block;
	height:auto;
	list-style:none;
	margin:0;
	padding:0;
	text-transform:none
}
.u-ArticleGroup--newsMediaTicker .Module__listItem a{
	text-transform:none
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link{
	color:#746661
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:visited{
	color:#746661
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:focus{
	color:#c1b5b0
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:hover{
	color:#c1b5b0
}
.u-ArticleGroup--newsMediaTicker .Module__listItem .Module__link:active{
	color:#746661
}
.u-ArticleGroup--newsMediaTicker>.Module__title{
	margin-bottom:.25em
}
.u-ArticleGroup--newsMediaTicker>.Module__title:after{
	content:"\2023";
	margin-left:.25em;
	font-size:.5em
}
.u-ArticleGroup--newsMediaTicker .Module__list .Module__title{
	font-family:"acumin-pro","Arial","Helvetica";
	font-size:100%;
	letter-spacing:0;
	text-align:left;
	text-transform:none;
	font-weight:300
}
.VassarEverywhere{
	padding-bottom:0;
	padding-top:0
}
.u-lContent .row-title{
	hyphens:none;
	letter-spacing:.03em
}
@media screen{
	.g-Masthead__vassar{
		margin-bottom:0
	}
}
/* maybe for central styles */
.u-lHeader {
    padding: 0 !important;
    margin-bottom: 0;
}
.u-Masthead {
    display: none;
}
/* def for central styles */
.u-lContent {
    font-size: .95em;
    a:focus,a:hover,a:visited:focus,a:visited:hover {
        background-color: #D0D0CE;
        color: #63666A;
    }
    .Dark a:focus,
    .Dark a:hover,
    .Dark a:visited,
    .Dark a:visited:focus,
    .Dark a:visited:hover,
    .Dark--scrim a:focus,
    .Dark--scrim a:hover,
    .Dark--scrim a:visited,
    .Dark--scrim a:visited:focus,
    .Dark--scrim a:visited:hover,
    .Dark--bgScrim a:focus,
    .Dark--bgScrim a:hover,
    .Dark--bgScrim a:visited,
    .Dark--bgScrim a:visited:focus,
    .Dark--bgScrim a:visited:hover,
    .galleria-desc-container a:focus,
    .galleria-desc-container a:hover,
    .galleria-desc-container a:visited,
    .galleria-desc-container a:visited:focus,
    .galleria-desc-container a:visited:hover {
        color:#a2a6ad;
        text-decoration-color:#a2a6ad;
        background-color:#D0D0CE;
    }
}
.u-lFooter a:hover,.u-lFooter a:focus {
    background-color: #D0D0CE;
    color: #63666A;
}
.News .Module__link,
.VassarEverywhere .Module__link,
.Events .Module__link {
	text-decoration:none !important
}
.News .Module__title,
.VassarEverywhere .Module__title,
.Events .Module__title {
	text-align:center;
	display:block
}
.News .Module__title a:link,
.VassarEverywhere .Module__title a:link,
.Events .Module__title a:link {
	text-decoration:none;
	font-family:"acumin-pro-extra-condensed", "Arial Narrow", "Helvetica Condensed";
	font-size:3rem;
	font-weight:200;
	letter-spacing:.03em
}
.News .Module__title:after,
.VassarEverywhere .Module__title:after,
.Events .Module__title:after {
	font-family:"acumin-pro-extra-condensed", "Arial Narrow", "Helvetica Condensed";
	font-size:1.4rem
}